
/*
header{
    background-color: cornflowerblue;
}

main{
    background-color: darkkhaki;
}
footer{
    background-color: thistle;
}

.container{
    background-color: dimgrey
}

.nav{
    background-color: cyan;
}

.container-text{
    background-color: blueviolet;

}
.menu{
    background-color: rgb(178, 220, 221);
}

.section-about{
    background-color: chartreuse;

}

.section-jobs{
    background-color: crimson;

}
.section-skills{
    background-color: darkgoldenrod;
    
}
.section-socialMedia{
    background-color: deeppink;
    
}